body{
    text-align: center;
    font-family: "Balsamiq Sans";   
}

.title {
    padding-left: 0px;
}

.masthead-wrap {
    background-color: #faedc1;
    height: 700px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar {
    background-color: #000;
    padding: 1rem 3rem 1rem 3rem;
}

.navbar-brand {
    height: 90px;
    width: 90px;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #ffd31d;
    border-width: 5px;
    width: 5%;
    margin: 60px auto;
}

.biography {
    line-height: 2;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #000;
    font-family: "Zeyada";
    font-size: 100px;
}

h2{
    font-size: 2.5rem;
    color: #000;
    font-family: "Zeyada";
    font-size: 65px;
}

h3{
    color:#000;
    font-family: "Balsamiq Sans";
}

p {
    margin-top: 25px;
}


.middle-container{
   font-size: 1rem;
}

.bottom-container{
    color: #ffd31d;
    font-size: 1rem;
    background-color: #000;
    position: relative;
    margin-top: 50px;
    padding: 50px 0 20px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto; 
    text-align: left;
    line-height: 2;

}

.laptop {
    width: 25%;
    margin-right: 30px;
    float: left;
}

.iphone {
    width: 13%;
    margin-left: 30px;
    float: right;
}

.citypic {
    width: 65%;
    float: center;
    margin-top: 70px;
}

.propic {
    height: 240px;
    width: 240px;
    padding: 3rem 3rem 2rem 2rem;
}


/* Bottom Div */
a {
    color: #ffd31d;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.copyright{
    font-size: 0.75rem;
    padding: 20px 0;
}

#contact-sheet {
    background-color: #faedc1;
    align-content: stretch;
}

.contact-box {
    position: relative;
    left: 820px;
}

.action-table {
    position: relative;
    right: 25%;
}

.contacter {
    position: relative;
    right: 370px;
    bottom: 100px;
}

.nature-pic {
    height: 250px;
    width: 250px;
    position: relative;
    left: 190px;
    bottom: 300px;
}

@media only screen and (max-width: 320px) {

    .biography { 
       font-size: 2em; 
    }
 
 }